
.li-style {
    background-color: #337ab7;
    border-radius: 2px;
    font-size: 12px;
    color: #ffffff;
    margin: 2px;
    padding: 5px;
}

.th-bg-font {
    background-color: #b3ffb3;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    border: none;
}

.td-bg-font {
    background-color: #e5ffe5;
    font-size: 12px;
    font-weight: normal;
    border: none;
}

.col-sm-background {
    background-color: #80ff80;
}

.panel-body-no-padding {
    padding: 0px;
}


.grid {
    width:100%;
    border:none;
    background-color:#F6F4F0;
    padding:0px;
}

.grid th {
    border:4px solid white;
    padding:6px;
    background-color: #b3ffb3;
}

.grid td {
    border:4px solid white;
    padding:6px;
    background-color: #e5ffe5;
}

.small-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.custom-panel-heading {
    padding: 5px 5px;
    text-align: center;
    border-radius: 3px;
    background-color: #337ab7;
    color: #ffffff;
}

.data-display-header-column {
    padding: 3px;
    text-align: left;
    background-color: #bbf6eb;
    color: #003366;
    font-weight: bold;
    font-size:  15px;
}

.data-display-data-column {
    padding: 3px;
    text-align: left;
    background-color: #ffffff;
    color: #000000;
    font-weight: normal;
    font-size:  15px;
}

.data-display-block {
    margin: 5px;
    padding: 5px;
    color: #000000;
    background-color: #18bc9c;
    border-radius: 10px;
}

.generic-container {
    margin: 20px;
    padding: 15px;
    background-color: #cce5ff;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 50px black;
}

.container-custom {
    margin: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.custom-window-for-messages {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #d2f9f2;
    border-color: #062d26;
    color: #062d26;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray;
}

.custom-span-for-messages {
    color: #062d26;
    font-weight: bold;
}

.custom-text {
    color: #00663c;
    font-size: 24px;
    font-weight: bold;
}