<div class="container-custom" ng-controller="watchController">
    <div class="panel panel-success">
        <div class="panel-heading"><span class="lead">Matching Parcels - ONLY FIRST 2000 ROWS WILL BE DISPLAYED!</span></div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped" ng-show="{{showParcelSearchResultsTable}}">
                    <thead>
                    <tr colspan="6" class="success">
                        <input type="text" class="form-control"
                               name="searchString"
                               id="searchString"
                               ng-model="searchString"
                               placeholder="Enter Account#(R1234567), Owner Name(Last Name or First Name), Street Number(10754), Street Name(Parker Road) or State Parcel#(223321205027)"
                               required>
                    </tr>
                    <tr class="success">
                        <br>
                        <th nowrap>
                            <a href="" ng-click="sortType = 'accountNo'; sortReverse = !sortReverse">
                                ACCOUNT NO
                                <span ng-show="sortType == 'accountNo' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'accountNo' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th nowrap>
                            <a href="" ng-click="sortType = 'parcelNo'; sortReverse = !sortReverse">
                                PARCEL NO
                                <span ng-show="sortType == 'parcelNo' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'parcelNo' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th nowrap>
                            <a href="" ng-click="sortType = 'ownerName'; sortReverse = !sortReverse">
                                OWNER NAME
                                <span ng-show="sortType == 'ownerName' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'ownerName' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th nowrap>
                            <a href="" ng-click="sortType = 'propertyAddress'; sortReverse = !sortReverse">
                                PROPERTY ADDRESS
                                <span ng-show="sortType == 'propertyAddress' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'propertyAddress' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th nowrap>
                            <a href="" ng-click="sortType = 'businessName'; sortReverse = !sortReverse">
                                BUSINESS NAME
                                <span ng-show="sortType == 'businessName' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'businessName' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th nowrap>
                            <a href="" ng-click="sortType = 'businessLicense'; sortReverse = !sortReverse">
                                BUSINESS LICENSE
                                <span ng-show="sortType == 'businessLicense' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'businessLicense' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th nowrap>
                            <a href="" ng-click="sortType = 'subdivisionName'; sortReverse = !sortReverse">
                                SUBDIVISION
                                <span ng-show="sortType == 'subdivisionName' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'subdivisionName' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th nowrap>
                            <a href="" ng-click="sortType = 'neighborhood'; sortReverse = !sortReverse">
                                NEIGHBORHOOD
                                <span ng-show="sortType == 'neighborhood' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'neighborhood' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="account in matchedAccounts | orderBy:sortType:sortReverse" ng-class-odd="'odd'">
                        <td><a href="#/parcelDetails/{{account.accountNo}}/{{account.propertyZipCode}}/{{account.neighborhood}}/{{account.subdivisionName}}">{{account.accountNo}}</a></td>
                        <td>{{account.parcelNo}}</td>
                        <td>{{account.ownerName}}</td>
                        <td>{{account.propertyStreet + ' ' + account.propertyCity + ' ' + account.propertyState + ' ' + account.propertyZipCode}}</td>
                        <td>{{account.businessName}}</td>
                        <td>{{account.businessLicense}}</td>
                        <td>{{account.subdivisionName}}</td>
                        <td>{{account.neighborhood + '-' + account.neighborhoodExt}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>